<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.bonmot.co" target="_blank">Bonmot.co</a></strong>
			is a generative trip report generator based on a deep neural network. Try it out.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/seduerr91/plantios" target="_blank">Machine Learning Engineer at MIT</a></strong>
			As an apprentice, I am exploring the world of Machine Learning with Peter Gloor at MIT in Boston.
		</h5>
    <h5>
			<i class="fa fa-tree"></i>&nbsp;&nbsp;<strong><a href="https://www.luftdaten.at" target="_blank">Luftdaten.at</a></strong>
			This citizen science project focuses on measure Vienna's air quality.
		</h5>
		</div>
  </div>
</div>
</section>
